@import 'tailwindcss';

@theme {
  --font-sans: 'Nunito Sans', sans-serif;
  --color-soft-chrome: #e8ecf1;
  --color-toxic-violet: #3d007a;
  --shadow-neu: 20px 20px 24px #9ea0a4, -20px -20px 24px #ffffff;
  --shadow-neu-inset:
    inset 43px -43px 86px #c5c9cd, inset -43px 43px 86px #ffffff;
}
